.pixel-art-container {
  display: inline-grid;
  transition: transform 0.2s ease-in-out;
}

.pixel-art-container:hover {
  transform: scale(1.05);
}

.pixel {
  display: block;
  transition: opacity 0.2s;
}

.pixel:hover {
  opacity: 0.8;
}
